<header class="topbar" style="background: #1d1d1d; height:auto; padding:20px 0">
    <div class="navbar top-navbar navbar-expand-md" style="display: flex; justify-content: center">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <b class="logo-icon">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/static/images/zuperion-header.png" width="276px" height="auto" style="margin-left:-16px">
                </b>
            </a>
        </div>
    </div>
</header>
